:root {
  --default: #5f5e5e;
  --green: #3B9450;
  --yellow: #AC9D37;
  --orange: #944B2B;
  --purple: #7C487D;
  --teal: #227F7E;
  --hotpink: #8D245B;
  --blue: #3B5D94;
  --violet: #5E3686;
  /*nme states*/
  --edited: #bb9426;
  --unedited: #565656;
  --new: #55713a;
  --disconnected: #5077ab;
  --deleted: #983e3e;
}

body {
  font-size: 11px;
  font-family: Verdana;
  color: #afafaf;
  text-align: center;
  zoom: 1;
  background: url('katana.png') no-repeat top left #2e2e2e;
  background-attachment: scroll;
  overflow-x: hidden;
  height: 1161px;
}

#viewerContainer {
  position: absolute;
  top: 60px;
  width: 825px;
  height: 620px;
}

#nodeGraphContainer {
  position: absolute;
  top: 60px;
  left: 830px;
  width: 1084px;
  height: 620px;
}

#parameterContainer {
  position: absolute;
  top: 668px;
  left: 6px;
  width: 500px;
  height: 620px;
}

html {
  height: 100%;
}

li {
  list-style-type: none;
  padding: 2px 0;
  position: relative;
}

#node li, #nodeTwo li, #nodeThree li, #nodeFour li, #nodeFive li {
  cursor: pointer;
}

ul {
  padding: 8px 12px;
  margin: 0;
}

/* -------------------------- Hud -------------------------- */
#hudContainer {
  opacity: 0.95;
  position: absolute;
  left: 150px;
  top: 200px;
}

#hud {
  zoom: 0.8;
  width: 460px;
  float: left;
  min-height: 220px;
  position: relative;
  background: rgba(55, 55, 55, 1);
  margin: 70px 5px 45px 50px;
  border: 4px solid #484848;
  border-radius: 10px;
}

.hudHeader {
  width: 100%;
  height: 40px;
  cursor: move;
}

.hudFooter {
  width: 100%;
}

.hudFooter {
  clear: both;
  position: absolute;
  bottom: 0px;
  background: #464646;
  text-align: left;
}

.hudFooter span {
  float: left;
  margin: 5px 10px;
  padding: 2px 5px;
}

.hudFooter .button {
  float: right;
  background: #A6A6A6;
  text-transform: uppercase;
  color: black;
  margin: 5px 10px 5px 0;
  padding: 2px 5px;
  border-radius: 4px;
}

.hudFooter .button:hover, .hudFooter .button.active {
  background: #EAB729;
  color: #000;
  cursor: pointer;
}

.hudHeader h1 {
  font-variant: all-small-caps;
  font-size: 16px;
  background: url('areaLight.png') 10px 7px no-repeat #464646;
  padding: 4px 10px 5px 35px;
  float: left;
  color: #FFF;
  font-weight: normal;
  margin: 12px auto auto 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hudHeader .buttons {
  margin: 15px 10px auto auto;
  float: right;
  height: 22px;
  background: #2e2e2e;
  border: 1px solid #3F3F3F;
  font-size: 10px;
  color: #828282;
}

.hudHeader .buttons ul {
  float: left;
  margin: 0;
  padding: 0;
}

.hudHeader .buttons li {
  float: left;
  text-align: center;
  list-style-type: none;
  padding: 5px 10px;
}

.hudHeader .buttons li:hover {
  color: #EAB729;
  cursor: pointer;
}

.hudHeader .buttons li.border {
  border-right: 1px solid #3F3F3F;
}

.hudHeader .buttons li.active {
  background: #262626;
  color: #EAB729;
}

.hudControls {
  clear: both;
  float: left;
  margin: 10px 20px;
}

.hudControl {
  float: left;
  width: 100px;
  height: 120px;
  margin-right: 10px;
}

.hudControl.hueControl {
  width: 200px;
  margin: 0 auto auto auto;
  text-align: left;
}

.hudControl h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

h2.active, input.active, h3.active {
  color: #EAB729 !important;
}

.control {
  height: 20px;
}

.hudControl input {
  font-size: 35px;
  width: 90px;
  background: transparent;
  border: 0;
  color: #D3D3D3;
  text-align: center;
  outline: none;
  cursor: ew-resize;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hue {
  width: 240px;
}

.hue div {
  float: left;
  font-size: 13px;
  margin-right: 20px;
  padding-top: 10px;
}

.hue div.HSV {
  width: 100px;
}

.increase {
  background-image: url(up.png);
  background-position: center top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.decrease {
  background-image: url(down.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.leftright {
  background-image: url(left.png), url(right.png);
  background-position: left center, right center;
  background-repeat: no-repeat;
}

#hudExtension {
  width: 460px;
  height: 170px;
  display: none;
  position: relative;
  background: rgba(55, 55, 55, 1);
  padding-bottom: 10px;
  margin: 160px 50px 15px 0px;
  border-top: 0;
  border-radius: 10px;
}

.hudSlider {
  float: left;
  width: 200px;
  text-align: left;
  margin: auto 5px 10px 5px;
  height: 40px;
}

.hudSlider h3 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
}

.dropbtn {
  background-color: #303030;
  color: #ADACAC;
  padding: 2px 5px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 150px;
  text-align: left;
  background: #303030 url('dropdown.png') center right no-repeat;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #303030;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ADACAC;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ADACAC;
  color: #303030;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ADACAC;
  color: #303030;
}

.slider {
  border-bottom: 1px solid #6E6E6E;
  width: 120px;
  margin-top: 15px;
}

.hudSlider input {
  border: 0;
  background: transparent;
  font-size: 10px;
  width: 20px;
  float: right;
  margin-right: -40px;
  margin-top: -7px;
  color: #afafaf;
  outline: none;
  cursor: default;
}

.hudSlider input.active {
  color: #eab629;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
  margin-top: -4px;
  outline: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider-handle {
  background: #eab629;
  font-weight: normal;
  border-radius: 5px;
  color: #454545;
}

.hue div input {
  background: url('colorWheel.png') no-repeat;
  width: 70px;
  height: 70px;
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  text-indent: -999px;
}

#huePreview {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-top: 13px;
  float: right;
  background-color: #fff;
}

#anchor {
  width: 10px;
  height: 10px;
  position: fixed;
  left: 180px;
  top: 190px;
  visibility: hidden;
}

.jquery-line {
  background: rgba(150, 150, 150, 0.8) !important;
  z-index: -999;
}

/* -------------------------- Node -------------------------- */
svg circle {
  fill: #252525;
}

.svgGreen {
  stroke: #3b9450;
  fill: #3b9450;
}

.svgGreen:hover {
  fill: #3b9450;
}

.svgTeal {
  stroke: #227d7c;
}

.svgTeal:hover {
  fill: #227d7c;
}

.svgOrange {
  stroke: #924a2b;
}

.svgOrange:hover {
  fill: #924a2b
}

.svgPurple {
  stroke: #7a477b;
}

.svgPurple:hover {
  fill: #7a477b
}

.svgBrown {
  stroke: #94743b;
}

.svgBrown:hover {
  fill: #94743b
}

.svgYellow {
  stroke: #ac9d37;
}

.svgYellow:hover {
  fill: #ac9d37;
}

.svgGrey {
  stroke: grey;
}

.svgGrey:hover {
  fill: grey;
}

#node, #nodeTwo, #nodeThree, #nodeFour, #nodeFive, #sidebar {
  width: 150px;
  position: absolute;
  top: 45px;
  left: 65px;
  background: #252525;
  margin: 50px;
  border: 2px solid #484848;
  border-radius: 5px;
}

#nodeTwo {
  left: 265px;
  top: 20px;
}

#nodeThree {
  left: 465px;
  top: 35px;
}

#nodeFour {
  left: 665px;
}

#nodeFive {
  left: 465px;
  top: 250px;
}

#node, #nodeTwo, #nodeThree, #nodeFour, #nodeFive {
  margin: 70px 160px 5px 40px;
}

#sidebar {
  right: 0px;
  left: auto;
  top: 65px;
  margin: 0 0 0 50px;
  height: 554px;
  border-bottom: 0;
  background: #3B3B3B;
}

#sidebar .parameters {
  margin-right: 0;
  height: 483px;
}

#sidebar .overflow {
  height: 480px;
  width: 157px;
  direction: rtl;
  max-height: fit-content;
}

#sidebar .parameters {
  max-height: fit-content;
}

#sidebar .overflow:hover {
  overflow-y: scroll;
  width: 163px;
  margin-left: -18px;
  padding-left: 6px;
}

#sidebar .nodeHeader {
  cursor: auto;
}

.anchor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('sideAnchor.png') center center no-repeat #3B3B3B;
  right: 153px;
  top: 75px;
  cursor: pointer;
  border-left: 1px solid #484848;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
}

.collapsed {
  right: 0 !important;
  background: url('sideAnchorCollapsed.png') center center no-repeat #3B3B3B;
}

.nodeHeader {
  max-height: 30px;
  background: #4e4e4e;
  padding: 10px;
  margin: auto;
  cursor: move;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nodeUtils {
  background: #3b3b3b;
  padding: 5px;
}

.nodeTypeBox {
  margin: 5px auto 2px;
  padding: 3px;
}

.nodeTypeBox select {
  width: 100%;
  text-align: center;
  color: #afafaf;
  max-height: 20px;
  background: #2b2b2b;
  border: 1px solid #484848;
  text-align-last: center;
}

.nodeFilterBox {
  width: 90%;
  max-height: 12px;
  background: #2b2b2b;
  background-image: url(filter.png);
  background-position: left 5px center;
  background-repeat: no-repeat;
  border: 1px solid #484848;
  padding: 3px;
  margin: 2px auto 5px;
  text-align: center;
  color: #ccc;
  outline: none;
}

.parameterSection {
  position: relative;
}

.parameters {
  background: #252525;
  margin-right: 7px;
  max-height: 300px;
}

.parameterHeading {
  background: #2f2f2f;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
  background-image: url(arrowside.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 3px;
  margin-top: 5px;
  max-height: 15px;
  width: 145px;
  cursor: pointer;
  margin-left: 5px;
}

.top {
  margin-top: 0px;
}

.pre {
  top: 23px !important;
}

.first {
  top: 0px !important;
}

.second {
  top: 28px !important;
}

.overflow {
  width: 162px;
  margin-left: -6px;
  z-index: 10;
  overflow-y: hidden;
  padding-right: 6px;
  overflow-x: hidden;
  max-height: 300px;
}

.overflow:hover {
  overflow-y: scroll;
  width: 168px;
}

#sidebar .parameterSubHeading {
  margin: 10px 5px 10px 10px;
  background: #3f3f3f;
  background-image: url(arrowside.png);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.parameterSubHeading {
  background: #2f2f2f;
  background-image: url(arrowside.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #484848;
  padding: 1px;
  margin: 10px;
  max-height: 15px;
  cursor: pointer;
}

.expanded {
  background-image: url(arrowdown.png) !important;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.disabled.expanded {
  background-image: url('ignore16.png'), url(arrowdown.png) !important;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 10px center;
  background-color: #262626;
}

.scrollWrapper {
  position: relative;
}

.parameterOutputs {
  text-align: right;
}

.parameterBoth, .parameterOutputs {
  position: static;
}

.parameterList {
  margin: 0 auto;
  width: 120px;
}

.lTerminals {
  position: absolute;
  left: 0px;
  width: 10px;
  top: 10px;
}

.rTerminals ul, .lTerminals ul {
  margin: 0 auto;
  padding: 0;
}

.parameterList ul {
  margin: 0;
  padding: 0px;
}

.rTerminals {
  position: absolute;
  right: 0px;
  width: 10px;
  top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4A4A4A;
  border-radius: 10px;
}

#nodeFooter {
  height: 15px;
  margin-top: 5px;
  background: #3b3b3b;
  border-top: 1px solid #484848;
  padding: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gafferbox {
  width: 560px;
  background: #383838;
  position: absolute;
  top: 40px;
}

.gafferHeader {
  height: 30px;
  padding: 5px 5px 5px 70px;
  text-align: left;
  cursor: pointer;
  background-image: url('paramIcons.png'), url('dropdownFolder.png');
  background-position: right 10px, 10px 10px;
  background-repeat: no-repeat, no-repeat;
}

.editFlag {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #529652;
}

.nodeType {
  color: #757575;
}

.gafferInner {
  background: #2e2e2e;
  margin: 5px;
  padding: 2px;
  height: 100%;
  text-align: left;
}

.gafferLocation {
  margin: 5px 5px 0px 5px;
  padding: 2px;
  height: 100%;
  text-align: left;
}

.gafferLocation .topParams {
  margin-top: 10px;
}

.table {
  background: #2e2e2e;
  padding: 5px;
}

.table .header {
  background: #2e2e2e;
  border-bottom: 1px solid #000;
  height: 10px;
  cursor: auto;
}

.table .header span {
  position: absolute;
  left: 15px;
  top: 0px;
}

.table .header span:nth-of-type(2n) {
  left: 140px;
}

.table .header span:nth-of-type(3n) {
  left: 220px;
}

.table .header span:nth-of-type(4n) {
  left: 300px;
}

.table .header span:nth-of-type(5n) {
  left: 380px;
}

.table div {
  padding: 5px 30px;
  cursor: pointer;
}

.table .base {
  height: 10px;
}

/*.table .light, .table .dark {
  background-image: url('child.png') !important;
  background-position: top left !important;
  background-repeat: no-repeat !important;
}*/
.table div.namespace {
  padding: 5px 5px 5px 25px;
  border: 0;
  cursor: pointer;
  background-image: url(arrowside.png);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.table .light {
  background-color: #383838;
  border: 1px solid rgba(0, 0, 0, 0);
}

.table .dark {
  background-color: #333333;
  border: 1px solid rgba(0, 0, 0, 0);
}

.table .base {
  background-image: none !important;
}

.table .active {
  background: #4d4d4d;
  border: 1px;
  border-style: dotted;
  border-color: #747474;
}

.tabs div {
  float: left;
  padding-right: 10px;
  padding: 0px 10px 5px 10px;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.tabs .active {
  color: #fff;
  border-bottom: 0;
}

.topParams {
  margin: 30px auto 10px;
  clear: both;
}

.parameterRow {
  clear: both;
  margin: 10px;
  width: 100%;
}

.parameterRow input {
  background: #262626;
  margin-left: 10px;
  width: 350px;
  position: absolute;
  border: 0;
  left: 125px;
  color: #afafaf;
  outline: none;
  padding-left: 10px;
}

.parameterRow select {
  background: #262626;
  margin-left: 10px;
  width: 320px;
  position: absolute;
  border: 0;
  color: #afafaf;
  outline: none;
  padding-left: 10px;
}

.tabs {
  margin-bottom: 15px;
  float: left;
  margin-top: 15px;
  width: 100%;
}

.parameterInterface1, .parameterInterface2, .parameterInterface3, .parameterInterface4, .parameterInterface5 {
  clear: both;
  width: 500px;
  height: 125px;
}

.table div {
  position: relative;
}

.table span.renderer {
  position: absolute;
  left: 160px;
  width: 15px;
  height: 15px;
  text-indent: 4px;
  background-color: transparent;
  color: white;
  display: inline-block;
  border-radius: 8px;
  margin-top: -1px;
  border: 1px solid grey;
}

.dl {
  background: url('3dl2.png') top left no-repeat;
}

.hydra {
  background: url('hydra.png') top left no-repeat;
}

.prman {
  background: url('prman3.png') top left no-repeat;
}

.vray {
  background: url('vray.png') top left no-repeat;
}

.table span.terminal {
  position: absolute;
  left: 240px;
  border: 0;
}

.table span.makeInteractive {
  position: absolute;
  left: 320px;
}

.table span.makeInteractive input {
  border: 1px solid grey;
  background: transparent;
  height: 15px;
  width: 15px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

.table span.makeInteractive input:checked {
  background: url('tick.png') center center no-repeat;
}

.table span.color {
  position: absolute;
  left: 390px;
  height: 12px;
  width: 12px;
  background: #2f2f2f;
  border: 1px solid #1f1f1f;
}

span.color.default {
  background: var(--default) !important;
}

span.color.green {
  background: var(--green) !important;
}

span.color.yellow {
  background: var(--yellow) !important;
}

span.color.orange {
  background: var(--orange) !important;
}

span.color.purple {
  background: var(--purple) !important;
}

span.color.teal {
  background: var(--teal) !important;
}

span.color.hotpink {
  background: var(--hotpink) !important;
}

span.color.blue {
  background: var(--blue) !important;
}

span.color.violet {
  background: var(--violet) !important;
}

span.color.sand {
  background: var(--sand) !important;
}

#sidebar .parameterHeading {
  border-left-width: 3px;
  border-left-style: solid;
}

#sidebar .parameterHeading.default {
  border-left-color: var(--default) !important;
}

#sidebar .parameterHeading.green {
  border-left-color: var(--green) !important;
}

#sidebar .parameterHeading.yellow {
  border-left-color: var(--yellow) !important;
}

#sidebar .parameterHeading.orange {
  border-left-color: var(--orange) !important;
}

#sidebar .parameterHeading.purple {
  border-left-color: var(--purple) !important;
}

#sidebar .parameterHeading.teal {
  border-left-color: var(--teal) !important;
}

#sidebar .parameterHeading.hotpink {
  border-left-color: var(--hotpink) !important;
}

#sidebar .parameterHeading.blue {
  border-left-color: var(--blue) !important;
}

#sidebar .parameterHeading.violet {
  border-left-color: var(--violet) !important;
}

#sidebar .parameterHeading.sand {
  border-left-color: var(--sand) !important;
}

terminalLeft .table span.active {
  color: #529652;
  border: 0;
  background: none !important;
}

.parametersBox {
  background: #383838;
  margin: 5px;
  background-image: url(arrowdown.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.parametersBox p {
  padding: 5px;
  margin: 0 0 0 20px;
}

.parametersBoxInner {
  background: #2e2e2e;
  margin-left: 10px;
  padding: 10px;
}

.materialInterfaceContainer {
  padding-top: 40px;
}

.terminal span {
  width: 15px;
  height: 15px;
  text-indent: 4px;
  background-color: transparent;
  color: white;
  display: inline-block;
  border-radius: 8px;
  margin-top: -1px;
  border: 1px solid grey;
}

.terminal span.on {
  background: transparent;
}

.gafferLocation .jump {
  background-image: url('jump.png'), url('cog.png');
  background-position: left top, 475px top;
  background-repeat: no-repeat, no-repeat;
  height: 15px;
}

.gafferLocation input {
  left: 35px;
  width: 430px;
}

.error {
  color: #d66161 !important;
}

.l1 {
  background-image: url('l1.png');
  background-position: 20px 6px;
  background-repeat: no-repeat;
  text-indent: 30px;
}

.l2 {
  background-image: url('l2.png');
  background-position: 50px 2px;
  background-repeat: repeat-y;
  text-indent: 50px;
}

.l2 span {
  position: absolute;
  left: 100px;
}

.l2 span.jump {
  background-image: url('jump_green.png');
  background-position: 20px top;
  background-repeat: no-repeat;
  height: 15px;
}

.left {
  float: left;
  width: 100px;
  overflow: hidden;
}

.right {
  float: left;
  width: 440px;
}

.interfaceControlsContainer .gafferHeader {
  padding: 5px;
  pointer: auto;
  background: none;
}

.disabled {
  background-image: url('ignore16.png'), url(arrowside.png);
  ;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 10px center;
  background-color: #262626;
}

.gafferbox .disabled {
  background: url('ignore16.png') no-repeat left !important;
  color: #757575;
}

.add {
  width: 20px;
  height: 20px;
  margin: 20px 0 -10px 0;
  padding: 0;
  display: block;
  background: url('plus16.png') center center no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}

.add:hover {
  background: url('plusHilite16.png') center center no-repeat #3d3d3d;
}

#gaffernm5 {
  padding: 5px 25px;
}

#states {
  position: absolute;
  left: -12px;
  top: 1px;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0.6;
}

#min, #std, #full {
  background: #676767;
  width: 1px;
  height: 1px;
  padding: 2px;
  margin: 4px 0;
  border-radius: 2px;
}

#states .active {
  filter: brightness(1.5);
}

.stateSelection {
  position: absolute;
  top: -33px;
  left: 10px;
}

.stateSelectionBox {
  float: left;
  height: 15px;
  background: #2e2e2e;
  padding: 3px 10px;
  border: 1px solid #484848;
  cursor: pointer;
}

.stateSelectionBox:hover {
  background: #484848;
}

.stateSelectionBox.active {
  background: #484848;
}

#node.selected, #nodeTwo.selected, #nodeThree.selected, #nodeFour.selected, #nodeFive.selected  {
  border: 2px solid #CCC;
}

.parameterEdited {
  color: #eab729 !important;
}

.parameterInherited {
  color: #877636;
}

.parameterForced {
  color: #8259ff;
}

.stateFilter {
  position: absolute;
  top: 39px;
  left: 145px;
}

.stateFilter label {
  float: left;
  height: 15px;
  padding: 3px;
}

.stateFilter label.active {
  color: #bb9426
}

#stateFilterBoxes {
  float: left;
}

.stateFilterBox, .stateFilterExpand {
  float: left;
  height: 15px;
  width: 15px;
  cursor: pointer;
  padding: 3px;
  margin: auto 5px;
  border-radius: 3px;
  background: transparent;
}

.stateFilterExpand {
  display: block;
  background: url('rightarrow.png') 0px 2px no-repeat;
}

.on {
  background: url('leftarrow.png') 0px 2px no-repeat;
}

.stateFilterBox:hover {
  filter: brightness(1.2);
}

.stateFilterBox.active {
  border: 1px solid white;
}

#nodeEdited {
  color: var(--edited);
  border: 1px solid var(--edited);
}

#nodeEdited.active {
  background: var(--edited);
  color: #252525;
}

#nodeNew {
  color: var(--new);
  border: 1px solid var(--new);
}

#nodeNew.active {
  background: var(--new);
  color: #252525;
}

#nodeDisconnected {
  color: var(--disconnected);
  border: 1px solid var(--disconnected);
}

#nodeDisconnected.active {
  background: var(--disconnected);
  color: #252525;
}

#nodeDeleted {
  color: var(--deleted);
  border: 1px solid var(--deleted);
}

#nodeDeleted.active {
  background: var(--deleted);
  color: #252525;
}

#nodeUnedited {
  color: var(--unedited);
  border: 1px solid var(--unedited);
}

#nodeUnedited.active {
  background: var(--unedited);
  color: #252525;
}

.filteredOut {
  filter: brightness(50%) contrast(0.8) !important;
}

#nodeFooter.edited {
  background: var(--edited);
  color: #252525
}

#nodeFooter.new {
  background: var(--new);
  color: #252525
}

#nodeFooter.disconnected {
  filter: brightness(1.2);
  background: var(--disconnected);
  color: #252525
}

#nodeFooter.deleted {
  filter: brightness(1.2);
  background: var(--deleted);
  color: #252525
}

#nodeFooter.unedited {
  filter: brightness(1.2);
  background: var(--unedited);
  color: #252525
}

#title {
  position: absolute;
  top: 4px;
  left: 80px;
}

span.katana {
  color: #252525;
  display: inline-block;
}

span.html {
  color: #FF00FF;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: inline-block;
  margin-left: 5px;
}
